.form-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(212, 212, 212);
    padding: 20px;
    min-width: 25%;
}

.form-fields{
    display: flex;
    flex-direction: column;
}

.form-input{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.form-title {
    text-align: center;
    padding-bottom: 20px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    vertical-align: middle;
}

.text-action{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 15px;
}